.upload-list>li{
    background-color: #f4f4f4;
    background:  url(../assets/img/frame_2.png) no-repeat right top;
    float: left;
    width: 180px;
    height:240px;
    padding:21px 25px 105px 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;

}


.upload-list>li .upload-list-inner{
    width: 103%;
    height: 100%;
    text-align: center;
}
.upload-list>li .upload-list-inner>img{
    width:  109%;
    height:  103%;
    text-align: center;


}

.upload-list>li .upload-list-inner>img:hover{
  cursor:copy;
}


.upload-list .add-img{
    width: 50px;
    height: 50px;
    margin: 60px auto 20px;
    position: relative;

}
.upload-list .add-img:hover{
    cursor:copy;
}

.upload-list .add-img:before{
    content: "";
    width: 8px;
    height: 100%;
    left:50%;
    top:0;
    margin-left: -4px;
    background-color: #d93d3e;
    position: absolute;
    border-radius: 3px;
}
.upload-list .add-img:after{
    content: "";
    width: 100%;
    height: 8px;
    left:0;
    top:50%;
    margin-top: -4px;
    background-color: #d93d3e;
    position: absolute;
    border-radius: 3px;
}
.upload-list .add-text{
    font-size: 28px;
    color: #d93d3e;
    text-align: center;
}

.page3-inner{
    height: 100%;
    background: rgba(255,255,255,0.1) url(../assets/img/page3.jpg) no-repeat right top;
    background-size: 600px;
}
