html,body,#root,.App,.page1,.page2,.page3{
    height: 100%;
}
.p40{
    padding: 0px 40px 0 40px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.content{
    padding-top: 40px;
    box-sizing: border-box;
    width: 100%;
    background-color: #ffffff;
    flex: 1;
    position: relative;
}
.page-enter{
    animation: float 6s ease-in-out infinite;
    width: 454px;
    height:200px;

    position: absolute;
    left: 50%;
    top:50%;
    margin-top: -60px;
    margin-left: -227px;
    text-align: center;
}
.page-enter a{
    line-height: 80px;
    font-size: 100px;
    font-family: "Modak";
    color: #d93d3d;
    font-weight: 400;
}

.page-enter a:hover{
    color: #dd7171;
}



.footer{
  animation: float 6s ease-in-out infinite;
  text-align: center;
    width: 100%;
    height: 100px;
    flex-shrink: 0;
}
.footer>span{
    color:#757575;
    font-size: 20px;
    line-height: 100px;

}
.footer>span>a{
    color: #de4a4a;

}
.footer>span>a:hover{
    cursor: pointer;
    color:#dd7171;
}
img{
  height: 500px;

  float:right;

}
@keyframes float {
	0% {

		transform: translatey(0px) translatex(0px);
	}
	50% {

		transform: translatey(-20px) translatex(20px);
	}
	100% {

		transform: translatey(0px) translatex(0px);
	}
}

@font-face {
  font-family: 'Modak';
  font-style: normal;
  font-weight: 400;
  src: local('Modak'), url(https://fonts.gstatic.com/s/modak/v4/EJRYQgs1XtIEskMA-hR77LKV.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
